#auto-play.hidden
  #play-button.hasTwipsy{title: 'Start auto play'}
    = image_tag 'play_button.png', height: '22px', width: '22px'

  #pause-button.hidden.faded.hasTwipsy{title: 'Pause auto play'}
    = image_tag 'pause_button.png', height: '22px', width: '22px'
