#bottomBanner
  = render partial: 'general/copyright'
  |
  = link_to "Feedback",  'mailto:kailuo.wang@gmail.com'
  |
  %a#keyShortcutsLink{href: '#'}
    Key Shortcuts

  #debugInfo.inline

= render partial: 'key_shortcuts'