#bottomBanner
  = link_to "Feedback",  'mailto:kailuo.wang@gmail.com'
  |
  %a#keyShortcutsLink{href: '#'}
    Key Shortcuts
  .copyrights
    = render partial: 'general/copyright'

  #debugInfo.inline

= render partial: 'key_shortcuts'