#faveArea{style: 'margin: 8px'}
  %span#faved.hidden
    %h3.inline
      In Collection
    .inline
      %a#removeFaveLink.btn{href: '#'}
        remove
  %img#faveWaiting.hidden{src: '/assets/loading.gif'}
  %a#faveLink.btn.primary.large.hidden{href: '#'}
    Collect it!

#faveRatingPanel.modal-popup{style: 'margin: 40px'}
  %h3
    Congratulations!
  %h5
    Your rating of this collection?

  #faveRating