#faveArea{style: 'margin: 8px'}
  %span#faved.hidden
    %h3.inline
      In Collection
    %h4.inline
      %a#removeFaveLink{href: '#'}
        remove
  %img#faveWaiting.hidden{src: '/assets/loading.gif'}
  %a#faveLink.hidden{href: '#'}
    %h3
      Collect it!

#faveRatingPanel.modalPopup{style: 'margin: 40px'}
  %h3
    Congratulations!
  %h5
    Your rating of this collection?

  #faveRating