#fave-panel
  #faveArea{style: 'margin: 8px'}
    %span#faved.hidden
      #ratingDisplayPanel.hidden.fleft
        #ratingDisplay
      .fleft
        %a#removeFaveLink.btn{href: '#'}
          remove
    %a#faveLink.btn.large.hidden.has-popover{href: '#', 'data-content' => 'Add it to "My Collection" on klekr as well as fave on flickr.', title: 'Add to My Collection', 'data-popover' => 'right', 'data-popover-top-offset' => -20}
      Collect it!

  #faveRatingPanel.modal-popup{style: 'margin: 40px'}
    %h3
      Congratulations!
    %h5
      Your rating of this collection?

    #faveRating