%h3#faveArea.inline{style: 'margin: 8px'}
  %span#faved.hidden
    Collected
  %img#faveWaiting.hidden{src: '/assets/loading.gif'}
  %a#faveLink.hidden{href: '#'}
    Collect it!

#faveRatingPanel.modalPopup{style: 'margin: 40px'}
  %h3
    Congratulations!
  %h5
    Your rating of this collection?

  #faveRating