#gridview.hidden
  #gridOutter{style: 'display: table; width: 100%'}
    #gridInner{style: 'display: table-cell;vertical-align:middle;'}
      #grid-loading
        = image_tag 'loading.gif'
      #gridPictures.hidden
        #template.grid-picture
          %span{style: 'vertical-align: middle; line-height: 259px'}
            %img#imgItem{style: 'vertical-align: middle; line-height: 259px'}
          .pic-cell-bottom
            #ratingInGrid.star.hasTwipsy{title: 'Your personal fave level.'}
            #loading-indicator
              %img{src: '/assets/pic-loading.gif'}

      .clear-float