#gridview.hidden
  #gridOutter{style: 'display: table; width: 100%'}
    #gridInner{style: 'display: table-cell;vertical-align:middle;'}
      #gridPictures
        #template.grid-picture
          %span{style: 'vertical-align: middle; line-height: 259px'}
            %img#imgItem{style: 'vertical-align: middle; line-height: 259px'}
          .pic-cell-bottom
            #ratingInGrid
              %img#ratingStarTemplate{src: '/assets/star-small.png'}
            #loading-indicator
              %img{src: '/assets/pic-loading.gif'}

      .clearFloat