#gridview.hidden
  #gridOutter{style: 'display: table; width: 100%'}
    #gridInner{style: 'display: table-cell;vertical-align:middle;'}
      #gridPictures{style: ' margin-left: auto; margin-right: auto; border-top: 1px solid #303030; border-left: 1px solid #303030;'}
        #template.gridPicture
          %span{style: 'vertical-align: middle; line-height: 259px'}
            %img#imgItem{style: 'vertical-align: middle; line-height: 259px'}
          #ratingInGrid{style: 'position:relative; top: -7px; left:5px; text-align:left;'}
            %img#ratingStarTemplate{src: '/assets/star-small.png'}
      .clearFloat