#keyShortcuts.modal-popup
  %h4{style: 'margin-bottom: 10px'}
    Key shortcuts available:
  %ul#shortcuts

  #close-help-note
    Press
    %span.key-name
      ESC
    or click anywhere outside the box to
    %a#close{href: '#'}
      close this window