#mode-indicator.hidden
  #indicator-frm.well
    #slide-mode-icon.fleft
    #grid-mode-icon.fleft
      .grid-mode-square.fleft
      .grid-mode-square.fleft
      .grid-mode-square.fleft
      .grid-mode-square.fleft
    #indicator