#mode-indicator.hidden{title: 'Switch between grid and slide mode'}
  #indicator-frm.well
    #slide-mode-icon.fleft
    #grid-mode-icon.fleft
      .grid-mode-square.fleft
      .grid-mode-square.fleft
      .grid-mode-square.fleft
      .grid-mode-square.fleft
    #indicator