#picture-label.hidden.bottom
  #artist-info.fleft
    %a#artist-link
  #expand.fright
    %a#expand-link{href: '#'} [+]
  .clearfix
  #second-row.fullscreen-hidden
    #title.fleft
      %a#title-link.hasTwipsy{target: '_blank', title: 'Click title to go to the original flickr page.'}>
      %span#date
    .fright
      %a#flickr-link{target: '_blank'}
        = image_tag('url_icon.png')
        flickr

  .clearfix

  #collapsible.hidden
    #description

    #personalized-info
      #sources.label
        This picture is
        %span.hasTwipsy{title: "klekr compiles pictures from your sources."} brought
        to you by
        #sources-links.inline

      #interestingness.label
        It has an
        %span.hasTwipsy{title: "Interestingess is based your preferences over the sources the picture comes from."}interestingess
        of&nbsp;
        %span#interestingess-num>
        \.

    #related-pictures.label
      Like this picture? Checkout
      %a#artist-collection

  #footer
