#picture-label.hidden.bottom
  #artist-info.fleft
    %a#artist-link
  #expand.fright
    %a#expand-link{href: '#'} [+]
  #title.clearfix
    %a#title-link{target: '_blank'}>
    %span#date

  #collapsible.hidden
    #description

    #sources
      %span.label From:
      #sources-links.inline
    %div
      %span.label Interestingess:
      %span#interestingess-num

  #footer
