#slide-options.popup
  .filters
    %h5
      %input#type-filter-checkbox{type: 'checkbox', name: 'upload-only'}
        show artists' works only
  .fright
    %a#under-the-hood{href: '#'}
      under the hood
  #under-the-hood-panel.clearfix.hidden
    #system-status.clearfix
      Connection Status:
      %span#connection-status-label
    #cache-panel
      #cache-info.fleft
        Pictures ready in cache:
        %span#num-of-pics-in-cache 0
      .fright
        %a#download-pictures.btn{href: '#'}
          pre-fetch more