#slide-options.popup
  .header
    .fleft
      %h4
        Slide Options
    %a.close{href: "#"} ×
    .clearfix
  .filters.clearfix
    %h5
      %input#type-filter-checkbox{type: 'checkbox', name: 'upload-only'}
        show artists' works only

  .fright
    %a#under-the-hood{href: '#'}
      Go Offline!
  #under-the-hood-panel.clearfix.hidden
    .fleft
      #system-status
        Connection Status:
        %span#connection-status-label
      #cache-info
        Pictures downloaded:
        %span#num-of-pics-in-cache 0
      #downloading-info
        Pictures downloading:
        %span#num-of-downloading-pics 0
    #ops-buttons.fright
      %a#download-pictures.btn{href: '#'}
        Download more pictures!
      = image_tag 'loading.gif', class: 'hidden', id: 'loading'