#slide-options
  .header
    .fleft
      %h4
        Slide Options
    %a.close-btn{href: "#"} ×
    .clearfix
  .filters.clearfix
    #stream-type-filter-panel
      %h5
        %label
          %input#viewed-filter-checkbox{type: 'checkbox', name: 'show-viewed'}
            Show pictures already viewed as well
      %h5
        %label
          %input#type-filter-checkbox{type: 'checkbox', name: 'upload-only'}
            Hide pictures from
            %span.hasTwipsy{title: "photographers' faves rather than works."} collection sources

    #rating-filter-panel
      %h5.inline
        Rating Higher or Equal:
      #rating-filter.inline
        = select_tag 'rating_filter', options_for_select(['★', '★★', '★★★', '★★★★', '★★★★★']), id: 'rating-filter-select'
    #faved-at-filter-panel
      #after
        %h5.inline
          Collected After:
        #faved-at-date-filter.inline
          %input#fave-at-date-after.datepicker{type: :text, name: 'faved-at-date-after'}
      #before
        %h5.inline
          Collected Before:
        #faved-at-date-filter.inline
          %input#fave-at-date.datepicker{type: :text, name: 'faved-at-date'}

  #lower
    .fright
      %a.btn#under-the-hood{href: '#'}
        Go Offline!
    .clearfix
    #under-the-hood-panel.hidden
      .fleft
        #system-status
          %span.label Current Status:
          %span#connection-status-label
        #cache-info
          %span.label New Pictures Ready to View:
          %span#num-of-pics-in-cache 0
        #downloading-info
          %span.label Pictures Scheduled to Download:
          %span#num-of-downloading-pics 0
      .clearfix
      #ops-buttons.fright
        %a#download-pictures.btn{href: '#'}
          Schedule More Pictures to Download
        #loading.hidden
          = image_tag 'loading.gif'