#slide-options.popup
  .filters
    %h5
      %input#type-filter-checkbox{type: 'checkbox', name: 'upload-only'}
        show artists' works only
  .fright
    %a#under-the-hood{href: '#'}
      under the hood
  #under-the-hood-panel.clearfix.hidden
    #cache-info.fleft
      %span#num-of-pics-in-cache
        0
      pictures ready in cache
    .fright
      %a#download-pictures.btn{href: '#'}
        pre-fetch more