#slide-options
  .header
    .fleft
      %h4
        Slide Options
    %a#close-options-button.close-btn{href: "#"} ×
    .clearfix
  .filters.clearfix
    #stream-type-filter-panel
      %h5
        %label
          %input#viewed-filter-checkbox{type: 'checkbox', name: 'show-viewed'}
            %span.hasTwipsy{title: "By default, 'My Stream' shows unviewed pictures in interestingess order."}
              Show all pictures in date order
      %h5
        %label
          %input#type-filter-checkbox{type: 'checkbox', name: 'upload-only'}
            Hide pictures from
            %span.hasTwipsy{title: "photographers' faves rather than works."} fave sources

    #rating-filter-panel
      %h5.inline
        Rating Higher or Equal:
      #rating-filter.inline
        = select_tag 'rating_filter', options_for_select(['★', '★★', '★★★', '★★★★', '★★★★★']), id: 'rating-filter-select'
    #faved-at-filter-panel
      #after
        %h5.inline
          Faved After:
        #faved-at-date-filter.inline
          %input#fave-at-date-after.datepicker{type: :text, name: 'faved-at-date-after'}
      #before
        %h5.inline
          Faved Before:
        #faved-at-date-filter.inline
          %input#fave-at-date.datepicker{type: :text, name: 'faved-at-date'}

  #lower
    .fright
      %a.btn#under-the-hood{href: '#'}
        Go Offline!
    .clearfix
    #under-the-hood-panel.hidden
      .fleft.label
        #system-status
          Currently
          %span#connection-status-label
        #cache-info
          %span#num-of-pics-in-cache 0
          %span &#40;
          %span#num-of-new-pics-in-cache 0
          %span new &#41; pictures ready to view.
        #downloading-info
          %span#num-of-downloading-pics 0
          %span pictures scheduled to download.

      .clearfix
      #ops-buttons.fright
        %a#download-pictures.btn{href: '#'}
          Schedule More Pictures to Download
        #loading.hidden
          = image_tag 'loading.gif'