:javascript
  __gridMode__ = true;

- content_for(:top_left) do
  %h3
    My Collection
  #filtersPanel
    %h4
      filter by rating:
      = select_tag 'rating_filter', options_for_select(['> 1 star', '> 2 star', '> 3 star', '> 4 star', '5 star'])
=render partial: 'slideshow'