:javascript
  __gridMode__ = true;
  klekr.Global.filtersOpts = { ratingTypeFilter: true, favedAtFilter: true }

- content_for(:top_left) do
  .fleft
    = icon(@current_collector)
  .fleft
    %h3
      My Collection
  #option-button.fleft
    = image_tag('option.png')


= render partial: 'slideshow'
= render partial: 'slide_options'