:javascript
  __gridMode__ = true;

- content_for(:top_left) do
  %h4
    = @slideshow_name
  %h5
    = render partial: 'stream_panel'
- content_for(:top_right) do
  %h4.inline
    = link_to @stream.alternative_stream.to_s, flickr_stream_path(@stream.alternative_stream)
    |
=render partial: 'slideshow'