:javascript
  klekr.Global.filtersOpts = {streamTypeFilter: true};

- content_for(:top_left) do
  .fleft
    %h3.inline
      My Stream
    %h5#my-stream-subtitle.inline
      (new pictures from
      = link_to 'my sources', flickr_streams_path
      )
  #option-button.fleft
    = image_tag('option.png')

= render partial: 'slideshow'
= render partial: 'slide_options'