:javascript
  klekr.Global.filtersOpts = {streamTypeFilter: true};

- content_for(:top_left) do
  .fleft
    %h3.inline
      My Stream
    %h5#my-stream-subtitle.gallery-option.inline
      %a{href: '#'} New Pictures from
      %a.my-source-link{href: flickr_streams_path} My Sources

  #option-button.gallery-option.fleft
    = image_tag('option.png')
  .fleft
    = render partial: '/general/add_this', locals: {title: "Checkout my favorite photos on klekr: ", :dynamic_url => true}
= render partial: 'slideshow/slideshow'
= render partial: 'slideshow/slide_options'