:javascript
  klekr.Global.filtersOpts = {streamTypeFilter: true};

- content_for(:top_left) do
  .fleft
    %h3.inline
      My Stream
    %h5#my-stream-subtitle.gallery-option.inline
      %a{href: '#'} New Pictures from
      %a.my-source-link{href: flickr_streams_path} My Sources

  #option-button.gallery-option.fleft
    = image_tag('option.png')

= render partial: 'slideshow'
= render partial: 'slide_options'