@import '../global/global'

#slide-options
  @extend .popup
  opacity: 0.95
  padding: 0px
  position: absolute
  top: 33px
  left: 4px

  background: #353535
  color: #707070
  .header
    border-bottom: 1px solid #505050
    padding-left: 10px
    padding-right: 5px
    padding-top: 5px
    padding-bottom: 5px
    background: #252525

  .filters
    padding-left: 15px
    padding-right: 15px
    padding-top: 5px
    padding-bottom: 5px
    background: #252525

    .hasTwipsy
      color: #807050
    #faved-at-filter-panel
      margin-bottom: 10px
      margin-left: 43px
      #before
        height: 30px
      #after
        height: 30px
        margin-left: 14px

      #faved-at-date-filter

        margin-left: 7px
        input#fave-at-date
          display: inline

    #rating-filter-panel
      margin-bottom: 10px
      #rating-filter
        #rating-filter-select
          width: 100px
  #lower
    border-top: 1px solid #505050
    padding: 15px

    #under-the-hood
      height: 20px
    #under-the-hood-panel
      padding-top: 8px
      margin-left: 5px
      .label
        color: #808080
        text-shadow: 0 1px 0 #000
      line-height: 26px
      #cache-info
        vertical-align: middle
      #system-status
      #ops-buttons
        margin-top: 10px
        margin-bottom: 10px

      #loading
        width: 150px
        text-align: right