Gemfile.lock
chromedriver.log
.bundle
db/*.sqlite3
log/*
tmp/**/*
tmp/*.jpg
.idea/workspace.xml
.idea/tasks.xml
.idea/.rakeTasks
config/flickr.yml
.DS_Store
.idea/dataSources.ids
.idea/dataSources.xml
db/development.sqlite3-journal
db/bkp
.idea/collectr.iml
.sass-cache
compiled
