public/assets
Gemfile.lock
chromedriver.log
.bundle
db/*.sqlite3
db/*.sqlite3-*
db/*.sqlite3-journal
db/*.sqlite3-shm
db/*.sqlite3-wal
db/bkp
log/*
tmp/**/*
tmp/*.jpg
.idea/*
config/flickr.yml
config/smtp.yml
.DS_Store
.sass-cache
compiled
.rspec
db/schema.rb
