/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.


*/
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #767676;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), color-stop(0.25, #999999), to(#767676));
  background-image: -webkit-linear-gradient(#999999, #999999 0.25, #767676);
  background-image: -moz-linear-gradient(#999999, #999999 0.25, #767676);
  background-image: -ms-linear-gradient(#999999, #999999 0.25, #767676);
  background-image: -o-linear-gradient(#999999, #999999 0.25, #767676);
  background-image: linear-gradient(#999999, #999999 0.25, #767676);
  padding: 4px 14px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #222;
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  border: 1px solid #777;
  border-bottom-color: #888;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #000;
  text-decoration: none;
}
.btn.primary, .btn.danger {
  color: #DDD;
}
.btn.primary:hover, .btn.danger:hover {
  color: #EEE;
}
.btn.primary {
  background-color: #9A4E3F;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#CA7E5F), to(#9A4E3F));
  background-image: -moz-linear-gradient(#CA7E5F, #9A4E3F);
  background-image: -ms-linear-gradient(#CA7E5F, #9A4E3F);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CA7E5F), color-stop(100%, #9A4E3F));
  background-image: -webkit-linear-gradient(#CA7E5F, #9A4E3F);
  background-image: -o-linear-gradient(#CA7E5F, #9A4E3F);
  background-image: linear-gradient(#CA7E5F, #9A4E3F);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #9A4E3F #9A4E3F #DA8E7F;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.danger {
  background-color: #9d261d;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d83a2e), to(#9d261d));
  background-image: -moz-linear-gradient(#d83a2e, #9d261d);
  background-image: -ms-linear-gradient(#d83a2e, #9d261d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d83a2e), color-stop(100%, #9d261d));
  background-image: -webkit-linear-gradient(#d83a2e, #9d261d);
  background-image: -o-linear-gradient(#d83a2e, #9d261d);
  background-image: linear-gradient(#d83a2e, #9d261d);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #9d261d #9d261d #5c1611;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.large {
  font-size: 16px;
  line-height: 24px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding-right: 9px;
  padding-left: 9px;
  font-size: 11px;
}
.btn.disabled {
  background-image: none;
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  cursor: default;
}
.btn:disabled {
  background-image: none;
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  cursor: default;
}
.btn:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
}
button.btn::-moz-focus-inner, input[type=submit].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}


.close-btn {
  float: right;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #999999;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.close-btn:hover {
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

/* CSS Document */

.datepicker { border-collapse: collapse; border: 2px solid #999; position: absolute; z-index: 9999}
.datepicker tr.controls th { height: 22px; font-size: 11px; }
.datepicker select { font-size: 11px; }
.datepicker tr.days th { height: 18px; }
.datepicker tfoot td { height: 18px; text-align: center; text-transform: capitalize; }
.datepicker th, .datepicker tfoot td { background: #eee; font: 10px/18px Verdana, Arial, Helvetica, sans-serif; }
.datepicker th span, .datepicker tfoot td span { font-weight: bold; }
.datepicker select {
  width: 89px;
  height: 18px;
  margin-top: 5px;
}

.datepicker tbody td { width: 24px; height: 24px; border: 1px solid #ccc; font: 11px/22px Arial, Helvetica, sans-serif; text-align: center; background: #fff; }
.datepicker tbody td.date { cursor: pointer; }
.datepicker tbody td.date.over { background-color: #99ffff; }
.datepicker tbody td.date.chosen { font-weight: bold; background-color: #ccffcc; }
input.datepicker {width: 90px !important; height: 16px !important; }
fieldset {
  margin-bottom: 18px;
  padding-top: 18px;
}
fieldset legend {
  display: block;
  margin-left: 150px;
  font-size: 20px;
  line-height: 1;
  color: #404040;
}
form div.clearfix {
  margin-bottom: 18px;
}
form label,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
form label {
  padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 130px;
  text-align: right;
  color: #404040;
}
form div.input {
  margin-left: 150px;
}
input[type=checkbox], form input[type=radio] {
  cursor: pointer;
}
input[type=text],
input[type=password],
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 210px;
  margin: 0;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
select, form input[type=file] {
  height: 27px;
  line-height: 27px;
}
textarea {
  height: auto;
}
.uneditable-input {
  background-color: #eee;
  display: block;
  border-color: #ccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}
form :-moz-placeholder {
  color: #bfbfbf;
}
form ::-webkit-input-placeholder {
  color: #bfbfbf;
}
input[type=text],
input[type=password],
select,
textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* line 5, app/assets/stylesheets/global/global.sass */
.source-icon {
  border-radius: 3px;
}

/* line 8, app/assets/stylesheets/global/global.sass */
.source-icon-placeholder {
  height: 48px;
  width: 48px;
  margin: auto;
}

/* line 12, app/assets/stylesheets/global/global.sass */
.modal-popup {
  padding: 40px;
  background: #050505;
  opacity: 1;
  color: #EEEEEE;
  display: none;
  border-radius: 4px;
  border: 1px solid #888;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* line 22, app/assets/stylesheets/global/global.sass */
.tright {
  text-align: right;
}

/* line 25, app/assets/stylesheets/global/global.sass */
.star {
  text-rendering: auto;
}

/* line 28, app/assets/stylesheets/global/global.sass */
.popup {
  padding: 5px;
  background: #050505;
  opacity: 0.75;
  color: #EEEEEE;
  display: none;
  border-radius: 4px;
  border: 1px solid #888;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* line 38, app/assets/stylesheets/global/global.sass */
.clearfix {
  clear: both;
}

/* line 42, app/assets/stylesheets/global/global.sass */
.mt20 {
  margin-top: 20px;
}

/* line 45, app/assets/stylesheets/global/global.sass */
.underscore {
  text-decoration: underline;
}

/* line 48, app/assets/stylesheets/global/global.sass */
.beta-tag {
  font-family: Verdana;
  color: #505050;
  font-size: 20px;
  display: inline;
}

/* line 54, app/assets/stylesheets/global/global.sass */
.bottom {
  position: absolute;
}

/* line 57, app/assets/stylesheets/global/global.sass */
.uppercase {
  text-transform: uppercase;
}

/* line 60, app/assets/stylesheets/global/global.sass */
.lowercase {
  text-transform: lowercase;
}

/* line 63, app/assets/stylesheets/global/global.sass */
.tright {
  text-align: right;
}

/* line 66, app/assets/stylesheets/global/global.sass */
.invisible {
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}

/* line 72, app/assets/stylesheets/global/global.sass */
.bold {
  font-weight: bold;
}

/* line 75, app/assets/stylesheets/global/global.sass */
.fade-transition {
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
  -moz-transition: opacity linear 0.5s;
}

/* line 80, app/assets/stylesheets/global/global.sass */
.question {
  font-style: italic;
}

/* line 84, app/assets/stylesheets/global/global.sass */
.fullscreen-hidden.fullscreen:not(.override-hidden) {
  display: none !important;
}

/* line 88, app/assets/stylesheets/global/global.sass */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
/* line 92, app/assets/stylesheets/global/global.sass */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
/* line 98, app/assets/stylesheets/global/global.sass */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #999;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* line 104, app/assets/stylesheets/global/global.sass */
::-webkit-scrollbar-thumb:window-inactive {
  background: #999;
}
/* line 1, app/assets/stylesheets/global/glowing.sass */
.glow {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(244, 178, 163, 0.8);
}

/* line 4, app/assets/stylesheets/global/glowing.sass */
.glow-transition {
  -webkit-transition: box-shadow linear 1s;
  transition: box-shadow linear 1s;
  -moz-transition: box-shadow linear 1s;
}
/* line 1, app/assets/stylesheets/global/grid.sass */
.container {
  width: 940px;
  margin: 0 auto;
  zoom: 1;
  margin-bottom: 18px;
}

/* line 6, app/assets/stylesheets/global/grid.sass */
.container:before {
  display: table;
  content: "";
}

/* line 9, app/assets/stylesheets/global/grid.sass */
.container:after {
  display: table;
  content: "";
  clear: both;
}

/* line 14, app/assets/stylesheets/global/grid.sass */
.row {
  zoom: 1;
  margin-bottom: 18px;
  /*margin-left: -20px; */
}

/* line 18, app/assets/stylesheets/global/grid.sass */
.row:before {
  display: table;
  content: "";
}

/* line 21, app/assets/stylesheets/global/grid.sass */
.row:after {
  display: table;
  content: "";
  clear: both;
}

/* line 25, app/assets/stylesheets/global/grid.sass */
.row .span1, .row .span2, .row .span3, .row .span4, .row .span5, .row .span6, .row .span7, .row .span8, .row .span9, .row .span10, .row .span11, .row .span12, .row .span13, .row .span14, .row .span15, .row .span16 {
  display: inline;
  float: left;
  margin-left: 20px;
}

/* line 29, app/assets/stylesheets/global/grid.sass */
.row .span1 {
  width: 40px;
}

/* line 31, app/assets/stylesheets/global/grid.sass */
.row .span2 {
  width: 100px;
}

/* line 33, app/assets/stylesheets/global/grid.sass */
.row .span3 {
  width: 160px;
}

/* line 35, app/assets/stylesheets/global/grid.sass */
.row .span4 {
  width: 220px;
}

/* line 37, app/assets/stylesheets/global/grid.sass */
.row .span5 {
  width: 280px;
}

/* line 39, app/assets/stylesheets/global/grid.sass */
.row .span6 {
  width: 340px;
}

/* line 41, app/assets/stylesheets/global/grid.sass */
.row .span7 {
  width: 400px;
}

/* line 43, app/assets/stylesheets/global/grid.sass */
.row .span8 {
  width: 460px;
}

/* line 45, app/assets/stylesheets/global/grid.sass */
.row .span9 {
  width: 520px;
}

/* line 47, app/assets/stylesheets/global/grid.sass */
.row .span10 {
  width: 580px;
}

/* line 49, app/assets/stylesheets/global/grid.sass */
.row .span11 {
  width: 640px;
}

/* line 51, app/assets/stylesheets/global/grid.sass */
.row .span12 {
  width: 700px;
}

/* line 53, app/assets/stylesheets/global/grid.sass */
.row .span13 {
  width: 760px;
}

/* line 55, app/assets/stylesheets/global/grid.sass */
.row .span14 {
  width: 820px;
}

/* line 57, app/assets/stylesheets/global/grid.sass */
.row .span15 {
  width: 880px;
}

/* line 59, app/assets/stylesheets/global/grid.sass */
.row .span16 {
  width: 940px;
}

/* line 61, app/assets/stylesheets/global/grid.sass */
.row .offset1 {
  margin-left: 80px;
}

/* line 63, app/assets/stylesheets/global/grid.sass */
.row .offset2 {
  margin-left: 140px;
}

/* line 65, app/assets/stylesheets/global/grid.sass */
.row .offset3 {
  margin-left: 200px;
}

/* line 67, app/assets/stylesheets/global/grid.sass */
.row .offset4 {
  margin-left: 260px;
}

/* line 69, app/assets/stylesheets/global/grid.sass */
.row .offset5 {
  margin-left: 320px;
}

/* line 71, app/assets/stylesheets/global/grid.sass */
.row .offset6 {
  margin-left: 380px;
}

/* line 73, app/assets/stylesheets/global/grid.sass */
.row .offset7 {
  margin-left: 440px;
}

/* line 75, app/assets/stylesheets/global/grid.sass */
.row .offset8 {
  margin-left: 500px;
}

/* line 77, app/assets/stylesheets/global/grid.sass */
.row .offset9 {
  margin-left: 560px;
}

/* line 79, app/assets/stylesheets/global/grid.sass */
.row .offset10 {
  margin-left: 620px;
}

/* line 81, app/assets/stylesheets/global/grid.sass */
.row .offset11 {
  margin-left: 680px;
}

/* line 83, app/assets/stylesheets/global/grid.sass */
.row .offset12 {
  margin-left: 740px;
}

/* line 86, app/assets/stylesheets/global/grid.sass */
.well {
  background-color: #303030;
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* line 99, app/assets/stylesheets/global/grid.sass */
.well .well-header {
  background-color: #141414;
  border-bottom: 1px solid #eee;
  padding: 5px 20px;
}

/* line 103, app/assets/stylesheets/global/grid.sass */
.well .well-body {
  padding: 20px;
}

/* line 105, app/assets/stylesheets/global/grid.sass */
.well .well-footer {
  padding: 14px 20px 15px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
  margin-bottom: 18px;
  margin-bottom: 0;
}

/* line 118, app/assets/stylesheets/global/grid.sass */
.row .cell {
  display: inline;
  float: left;
}
/* line 1, app/assets/stylesheets/global/jquery.tweet.sass */
.tweet, .query {
  color: gray;
}

/* line 4, app/assets/stylesheets/global/jquery.tweet.sass */
.tweet .loading {
  color: #606060;
  line-height: 180%;
}

/* line 7, app/assets/stylesheets/global/jquery.tweet.sass */
.tweet_list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

/* line 14, app/assets/stylesheets/global/jquery.tweet.sass */
.tweet_list .awesome, .tweet_list .epic {
  text-transform: uppercase;
}

/* line 16, app/assets/stylesheets/global/jquery.tweet.sass */
.tweet_list li {
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 19, app/assets/stylesheets/global/jquery.tweet.sass */
.tweet_list li a {
  color: #A26A5F;
}

/* line 21, app/assets/stylesheets/global/jquery.tweet.sass */
.tweet_list .tweet_even {
  background-color: #534039;
}

/* line 23, app/assets/stylesheets/global/jquery.tweet.sass */
.tweet_list .tweet_avatar {
  padding-right: .5em;
  float: left;
}

/* line 26, app/assets/stylesheets/global/jquery.tweet.sass */
.tweet_list .tweet_avatar img {
  vertical-align: middle;
}
/* line 1, app/assets/stylesheets/global/key-shortcuts.sass */
#keyShortcuts {
  color: #909090;
}

/* line 3, app/assets/stylesheets/global/key-shortcuts.sass */
#keyShortcuts ul {
  list-style-type: none;
  -webkit-padding-start: 15px;
}

/* line 6, app/assets/stylesheets/global/key-shortcuts.sass */
#keyShortcuts .key-name {
  font-weight: bold;
  color: #DDDDDD;
  font-size: 17px;
}

/* line 12, app/assets/stylesheets/global/key-shortcuts.sass */
#keyShortcuts li .key-desc {
  margin-left: 10px;
}

/* line 15, app/assets/stylesheets/global/key-shortcuts.sass */
#keyShortcuts #close-help-note {
  margin-top: 30px;
  color: #666666;
  font-size: 12px;
  margin-bottom: -15px;
}
/* line 1, app/assets/stylesheets/global/menu.sass */
a.menu:after, .dropdown-toggle:after {
  width: 0;
  height: 0;
  display: inline-block;
  content: "&darr;";
  text-indent: -99999px;
  vertical-align: top;
  margin-top: 8px;
  margin-left: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/* line 18, app/assets/stylesheets/global/menu.sass */
a.menu, .dropdown-toggle {
  color: #707070;
}

/* line 20, app/assets/stylesheets/global/menu.sass */
a.menu:hover, .dropdown-toggle:hover {
  color: #909090;
}
/* line 1, app/assets/stylesheets/global/popover.sass */
.twipsy {
  display: block;
  position: absolute;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  z-index: 1000;
  filter: alpha(opacity=90);
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}

/* line 12, app/assets/stylesheets/global/popover.sass */
.twipsy.fade.in {
  filter: alpha(opacity=90);
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}

/* line 17, app/assets/stylesheets/global/popover.sass */
.twipsy.above .twipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #909090;
}

/* line 24, app/assets/stylesheets/global/popover.sass */
.twipsy.left .twipsy-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #909090;
}

/* line 31, app/assets/stylesheets/global/popover.sass */
.twipsy.below .twipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #909090;
}

/* line 38, app/assets/stylesheets/global/popover.sass */
.twipsy.right .twipsy-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #909090;
}

/* line 46, app/assets/stylesheets/global/popover.sass */
.twipsy-inner {
  padding: 5px 8px;
  background-color: #909090;
  color: black;
  text-align: center;
  max-width: 200px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 57, app/assets/stylesheets/global/popover.sass */
.twipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

/* line 62, app/assets/stylesheets/global/popover.sass */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 5px;
  display: none;
}

/* line 69, app/assets/stylesheets/global/popover.sass */
.popover.above .arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #909090;
}

/* line 76, app/assets/stylesheets/global/popover.sass */
.popover.right .arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #909090;
}

/* line 83, app/assets/stylesheets/global/popover.sass */
.popover.below .arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #909090;
}

/* line 90, app/assets/stylesheets/global/popover.sass */
.popover.left .arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #909090;
}

/* line 97, app/assets/stylesheets/global/popover.sass */
.popover .arrow {
  position: absolute;
  width: 0;
  height: 0;
}

/* line 101, app/assets/stylesheets/global/popover.sass */
.popover .inner {
  background-color: #959595;
  color: #959595;
  padding: 2px;
  width: 380px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

/* line 113, app/assets/stylesheets/global/popover.sass */
.popover .title {
  background-color: #303030;
  padding: 5px 7px;
  line-height: 1;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #404040;
  font-size: 18px;
  margin: 0px;
  color: #959595;
}

/* line 126, app/assets/stylesheets/global/popover.sass */
.popover .content {
  background-color: #202020;
  padding: 7px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

/* line 135, app/assets/stylesheets/global/popover.sass */
.popover .content p, .popover .content ul, .popover .content ol {
  margin-bottom: 0;
  line-height: 130%;
}

/* line 141, app/assets/stylesheets/global/popover.sass */
.fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;
}

/* line 148, app/assets/stylesheets/global/popover.sass */
.fade.in {
  opacity: 1;
}
/* line 1, app/assets/stylesheets/global/progressbar.sass */
.progress-bar {
  border: 1px solid #888;
  border-radius: 4px;
  width: 100%;
  height: 20px;
  position: relative;
  color: #606060;
}

/* line 9, app/assets/stylesheets/global/progressbar.sass */
.progress-bar div.progress {
  position: absolute;
  width: 0;
  height: 100%;
  overflow: hidden;
  background-color: #252525;
}

/* line 15, app/assets/stylesheets/global/progressbar.sass */
.progress-bar div.progress .text {
  position: absolute;
  text-align: center;
  color: white;
}

/* line 19, app/assets/stylesheets/global/progressbar.sass */
.progress-bar div.text {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 1, app/assets/stylesheets/global/shadow.sass */
.shadow {
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

/* line 5, app/assets/stylesheets/global/shadow.sass */
.text-shadow {
  text-shadow: 0 1px 0 #000;
}
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #141414;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #6F6F6F;
	height:100%;
	width:99%;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
	margin: 3px;
	padding: 0;
	font-weight: bold;
	color: #707070;
  text-shadow: 0 1px 0 #000;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2.8em;
  color: #808080;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.3em;
  text-shadow: 0 1px 0 #000;
}

h5 {
	font-size: 1.2em;
  font-weight: normal;
  text-shadow: 0 1px 0 #000;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;

}

ul, ol {
}

a {
	text-decoration: none;
	color: #904E3F;
}

a:hover {
	/*text-decoration: underline;*/
  color: #8F753F;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	background: #000000;
}

/* Header */

#header-wrapper {
	height: 120px;
}

#header {
	width: 1000px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 350px;
	margin: 0;
	padding: 0;
	color: #000000;
}

#logo h1, #logo p {
}

#logo h1 {
	margin-left: 30px;
	padding: 20px 0px 0px 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-family: Impact, Arial, Helvetica, sans-serif;
	font-size: 3.8em;
	font-weight: normal;
	color: #FA9F0A;
}

#logo h1 a {
	color: #FA9F0A;
}

#logo h1 span {
}

#logo p {
	margin: 0;
	padding: 0px 0 0 32px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #BEBEBE;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #707070;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	height: 19px;
	padding: 4px 5px 1px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 26px;
	border: none;
	background: #D93544;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
	height: 125px;
	margin: 0 auto;
	padding: 0;
	background: #D43442;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	border-left: 1px solid #EC4E63;
}

#menu a {
	display: block;
	height: 80px;
	padding: 45px 25px 0px 25px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Impact, Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#page-bgtop {
	padding: 20px 0px;
}

.post {
	margin-bottom: 30px;
	padding: 30px 20px 20px 20px;
	background: #212121;
	border: 1px dashed #000000;
}

.post .title {
	height: 41px;
	padding: 0px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	text-decoration: none;
	color: #FFFFFF;
	border: none;
}

.post .entry {
	padding: 20px 30px 20px 30px;
	padding-bottom: 20px;
	text-align: justify;
}

.post .byline {
	clear: both;
	overflow: hidden;
	padding-bottom: 20px;
}

.post .meta {
	float: left;
}

.post .links {
	float: right;
}

.links a {
}

/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
	margin: 0px;
	padding: 20px 20px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #191919;
	background: url(/images/img01.jpg) no-repeat left 15px; 
	margin: 0px 20px 0px 20px;
	border-left: none;
	text-align: left;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 15px;
}

#sidebar h2 {
	height: 31px;
	margin: 0px 0px 20px 0px;
	padding: 10px 0px 0px 20px;
	background: url(/images/img03.jpg) no-repeat left top;
	text-shadow: #203060 -1px 1px 2px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: -.5px;
	font-size: 2em;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
	color: #847F7E;
}

#sidebar a {
	border: none;
	color: #847F7E;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #847F7E;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

.import div {
   padding: 20px 0;
}

input[type="file"]{
  background: #303030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #6F6F6F;
}



.center{
  width: 100%;
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
}

#myCollections{
  margin: 20px;
}

#streamsTable{
  margin: 20px auto;
  width: 800px;
}

.fleft{
  float: left;
}

.fright{
  float: right;
}

.clear-float{
  clear: both;
}

.bigTopPadding{
  padding-top: 50px
}

.block{
  display: block;
}
.inline{
  display: inline;
}

.hidden{
  display: none;
}

#countdown{
  color: #9A4E3F;
}

.pointer {
 cursor: pointer;
}

/* line 1, app/assets/stylesheets/global/shadow.sass */
.shadow {
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

/* line 5, app/assets/stylesheets/global/shadow.sass */
.text-shadow {
  text-shadow: 0 1px 0 #000;
}

/* line 3, app/assets/stylesheets/global/top-bar.sass */
#user-dropdown {
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background-color: #303030;
  position: absolute;
  right: 388px;
  top: 32px;
  width: 265px;
  z-index: 5000;
  opacity: 0.95;
}

/* line 12, app/assets/stylesheets/global/top-bar.sass */
#user-dropdown #user-icon {
  margin-right: 5px;
}

/* line 14, app/assets/stylesheets/global/top-bar.sass */
#user-dropdown .inner {
  padding: 15px;
}

/* line 16, app/assets/stylesheets/global/top-bar.sass */
#user-dropdown #upper {
  padding-bottom: 5px;
  line-height: 140%;
}

/* line 19, app/assets/stylesheets/global/top-bar.sass */
#user-dropdown #username {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 7px;
}

/* line 23, app/assets/stylesheets/global/top-bar.sass */
#user-dropdown #bottom {
  margin-top: 5px;
  border-top: 1px solid #505050;
}

/* line 28, app/assets/stylesheets/global/top-bar.sass */
#top-banner {
  display: table;
  width: 100%;
  padding-top: 3px;
  padding-right: 5px;
  padding-left: 5px;
}

/* line 35, app/assets/stylesheets/global/top-bar.sass */
#top-banner .section {
  display: table-cell;
  vertical-align: top;
  width: auto;
}

/* line 40, app/assets/stylesheets/global/top-bar.sass */
#top-banner #top-banner-middle {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

/* line 46, app/assets/stylesheets/global/top-bar.sass */
#top-banner #top-banner-right {
  margin-top: 5px;
  margin-left: 0px;
}

/* line 50, app/assets/stylesheets/global/top-bar.sass */
#top-banner #top-banner-welcome {
  margin-right: 10px;
  margin-top: 10px;
}

/* line 54, app/assets/stylesheets/global/top-bar.sass */
#top-banner .navigation-link {
  border-left: 1px solid #333;
  padding: 5px 7px;
  border-bottom: 1px solid #333;
}

/* line 58, app/assets/stylesheets/global/top-bar.sass */
#top-banner .navigation-link:hover {
  background-color: #333;
}

/* line 60, app/assets/stylesheets/global/top-bar.sass */
#top-banner .navigation-link.current {
  background-color: #333;
}
