/* line 3, app/assets/stylesheets/mysources/my-sources.sass */
#loading-sources-indicator {
  margin-left: 81px;
}

/* line 6, app/assets/stylesheets/mysources/my-sources.sass */
.sources-grid {
  margin-top: 10px;
}

/* line 8, app/assets/stylesheets/mysources/my-sources.sass */
.sources-grid .removed {
  opacity: 0.5;
}

/* line 11, app/assets/stylesheets/mysources/my-sources.sass */
.sources-grid .source-cell {
  text-align: center;
  margin-left: 14px;
  padding-bottom: 5px;
  width: 111px;
  height: 110px;
}

/* line 17, app/assets/stylesheets/mysources/my-sources.sass */
.sources-grid .source-cell .top-bar {
  text-align: right;
  padding-right: 10px;
  line-height: 13.5px;
  height: 16px;
  width: 111px;
}

/* line 23, app/assets/stylesheets/mysources/my-sources.sass */
.sources-grid .source-cell .top-bar a.button {
  color: #000000;
  font-size: 20px;
  line-height: 13.5px;
  font-weight: bold;
  text-shadow: 0 1px 0 #999999;
  filter: alpha(opacity=90);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}

/* line 34, app/assets/stylesheets/mysources/my-sources.sass */
.sources-grid .source-cell .top-bar a.button:hover {
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=90);
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}

/* line 42, app/assets/stylesheets/mysources/my-sources.sass */
.sources-grid .source-cell .source-name {
  color: #7f7f7f;
}

/* line 44, app/assets/stylesheets/mysources/my-sources.sass */
.sources-grid .source-cell .source-type {
  color: #606060;
}

/* line 46, app/assets/stylesheets/mysources/my-sources.sass */
.sources-grid .source-cell .source-icon-placeholder {
  margin-bottom: 5px;
}

/* line 49, app/assets/stylesheets/mysources/my-sources.sass */
#sources {
  margin-top: 50px;
}

/* line 50, app/assets/stylesheets/mysources/my-sources.sass */
#sources #top-menu {
  text-align: right;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: -19px;
  margin-rigth: 2px;
  font-size: 12px;
}

/* line 58, app/assets/stylesheets/mysources/my-sources.sass */
#sources #top-menu a {
  color: #555;
}

/* line 60, app/assets/stylesheets/mysources/my-sources.sass */
#sources #top-menu a:hover {
  color: #444;
}

/* line 65, app/assets/stylesheets/mysources/my-sources.sass */
#sources #sources-list .star-category {
  margin-top: 30px;
}

/* line 67, app/assets/stylesheets/mysources/my-sources.sass */
#sources #sources-list .star-category .stars-label {
  text-align: center;
  font-size: 2em;
  color: #141414;
  text-shadow: 0 1px 0 #101010;
}

/* line 73, app/assets/stylesheets/mysources/my-sources.sass */
#sources #sources-list .star-category .sources-grid .removed {
  opacity: 0.2;
}

/* line 76, app/assets/stylesheets/mysources/my-sources.sass */
#sources #sources-management {
  margin-top: 30px;
  text-align: center;
}

/* line 79, app/assets/stylesheets/mysources/my-sources.sass */
#sources #sources-management #expand-management {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 81, app/assets/stylesheets/mysources/my-sources.sass */
#sources #sources-management #sources-import-panel {
  padding-top: 20px;
}

/* line 84, app/assets/stylesheets/mysources/my-sources.sass */
#sources #sources-management #sources-import-panel .row .import-method {
  background: #252525;
  height: 40px;
  width: 379px;
  margin-left: 20px;
}

/* line 89, app/assets/stylesheets/mysources/my-sources.sass */
#sources #empty-sources {
  text-align: center;
}

/* line 92, app/assets/stylesheets/mysources/my-sources.sass */
#import-popup {
  width: 600px;
}

/* line 95, app/assets/stylesheets/mysources/my-sources.sass */
.flexible-streams-importer {
  width: 700px;
  height: 440px;
}

/* line 99, app/assets/stylesheets/mysources/my-sources.sass */
.flexible-streams-importer #streams-list {
  background: #303030;
  width: 661px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 107, app/assets/stylesheets/mysources/my-sources.sass */
.flexible-streams-importer #source-added-message .source-added-title {
  color: #909090;
  text-transform: uppercase;
  size: 24px;
}

/* line 111, app/assets/stylesheets/mysources/my-sources.sass */
.flexible-streams-importer #source-added-message .my-stream-link {
  color: #505050;
}

/* line 115, app/assets/stylesheets/mysources/my-sources.sass */
#add-individually-note {
  color: #606060;
  font-size: 12px;
}

/* line 119, app/assets/stylesheets/mysources/my-sources.sass */
.close-btn {
  color: #555;
  font-size: 25px;
}

/* line 123, app/assets/stylesheets/mysources/my-sources.sass */
#import-google-reader-popup {
  width: 600px;
  text-align: center;
}

/* line 126, app/assets/stylesheets/mysources/my-sources.sass */
#import-google-reader-popup #hint {
  color: #808080;
  width: 420px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

/* line 133, app/assets/stylesheets/mysources/my-sources.sass */
#import-by-user {
  width: 360px;
}

/* line 135, app/assets/stylesheets/mysources/my-sources.sass */
#import-by-user .close-btn {
  margin-top: -23px;
  margin-right: -20px;
}

/* line 139, app/assets/stylesheets/mysources/my-sources.sass */
#import-by-user #keyword {
  width: 263px;
  height: 19px;
}

/* line 142, app/assets/stylesheets/mysources/my-sources.sass */
#import-by-user #submit {
  line-height: 21px;
  margin-top: 2px;
}

/* line 145, app/assets/stylesheets/mysources/my-sources.sass */
#import-by-user #search-result {
  margin-top: 20px;
}

/* line 147, app/assets/stylesheets/mysources/my-sources.sass */
#import-by-user #search-result .row {
  margin-left: auto;
  margin-right: auto;
}

/* line 150, app/assets/stylesheets/mysources/my-sources.sass */
#import-by-user #search-result .row .sources-grid {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
/*

*/
