- content_for(:head) do
  :javascript
    (function() {
      var at = document.createElement('script'); at.type = 'text/javascript'; at.async = true;
      at.src = 'http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ea76a4c1cc9567c';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(at, s);
    })();

.addthis_toolbox.addthis_default_style{ 'addthis:title' => title}
  %a.addthis_button_preferred_1
  %a.addthis_button_preferred_2
  %a.addthis_button_preferred_3
  %a.addthis_button_preferred_4
  %a.addthis_button_compact
