#faq.hidden
  #left-column
    %h1.title
      %p Frequently
      %p Asked
      %p Questions
    #other-links
      %a#back-to-more-about-link{href: '#'}
        << back

  #right-column
    .item
      .question
        What is klekr best for?
      .answer
        klekr is best for quickly expanding your collection of favorite photographers and viewing new photos from them efficiently on a daily basis.
    .item
      .question
        What's the difference between klekr and flickr?
      .answer
        klekr has a narrow focus on discovering photos of users' own tastes. flickr is more a social network to share photos. Although flickr provides billions of photos (and awesome features), their UI is not designed to facilitate personalized photo discovery.
    .item
      .question
        How can I make sure the most interesting pictures show up first in My Stream?
      .answer
        Faving pictures helps klekr understand what sources you like the most and display the new pictures from them with higher priority in the My Stream page
    .item
      .question
        I've have already seen all old pictures from this photographer, how do I stop them from showing up on My Stream.
      .answer
        Go to the photographer's page (by clicking on his/her name label at the bottom right,) you should be able to see a button that says "Mark All As Viewed", click on it and all existing photos will no longer show up on the My Stream page (new ones still will)