#faq.hidden
  #left-column
    %h1.title
      %p Frequently
      %p Asked
      %p Questions
    #other-links
      %a#back-to-more-about-link{href: '#'}
        << back

  #right-column
    .question
      How do to see most interesting picture first?
      .answer
        fave pictures from klekr