#detail-info.hidden
  #left-column
    %h1.title
      So,
      %br
      why
      %br
      klekr?

  #right-column

    #about.fleft

      %p.main-paragraph
        %span.site-name klekr
        is about a simple mission:
        %span#mission
          helping users discover photos articistally interesting to
          %span.taste their own taste.
      %p
        How?
        %span.site-name klekr
        facilitates photo discovery based on a simple assumption: if you like the photos by a photographer, you may also like the photos she or he likes.
      %p
        By displaying artists' works and
        %span.hasTwipsy{:title => 'That is, their faves on flickr.'} collections
        in a single personalized
        %span.hasTwipsy{:title => "It's calld My Stream"} slideshow,
        %span.site-name klekr
        makes seeing the photos liked by your favorite photographers a lot easier.
      %p.google-reader
        My Stream works like Google Reader, but for photos.

      %p
        On top of this simple concept,
        %span.site-name klekr
        is developed with a number of unique features that makes such photo discovering as easy as possible.
      .nav-div
        %a.learn-more{href: '#'}
          learn more >>

    #more.fleft.hidden
      .features-title
        %span.site-name klekr
        features that kill:

      #more-reasons-expand
        %ul
          %li
            Pictures in
            %span.page-name My Stream
            are prioritized based your own
            %span.hasTwipsy{:title => 'Such preference is determined by how often you collect photos from a source'} pereferences
            over the sources they come from, so that everyday you can see more interesting photos first.
          %li
            Super fast and easy-to-use slideshow.
          %li
            %span.hasTwipsy{:title => 'Collecting photos on klekr also fave them on flickr for you'} Collecting
            photos with your own personal ratings.
          %li
            Easy to share your collection. For example, you can easily share a collection of all 2 star photos you collected in the last month.
          %li
            Offline mode that allows users to prefetch thousands of photos and browse them without Internet connection.
          %li
            %span.site-name klekr
            is tablet friendly. The UI is designed to work smoothly on both tablets and traditional computers.
          %li
            Great support for keyboard operation.

      .nav-div
        %a.back-to-about{href: '#'}
          << back
