#about.hidden
  #left-column
    %h1.title
      So,
      %br
      why
      %br
      klekr?
    #other-links
      %a#faq-link{href: '#'}
        Other Frequently Asked Questions
  #right-column

    #about-main.fleft

      %p.main-paragraph
        %span.site-name klekr
        is about a simple mission:
        %span#mission
          helping users discover beautiful photos and expand their own tastes for photography.
      %p
        How?
        It's based on a simple assumption: if you like the photos by a photographer, you may also like some of his/her favorite photos, and, even more importantly, you may conceivably learn to appreciate some of them that did not appeal to you at the first sight.
      %p
        By displaying photos from photographers' works and
        %span.hasTwipsy{:title => 'That is, their faves on flickr.'} faves
        together in a single personalized
        %span.hasTwipsy{:title => "It's calld My Stream. In some sense, it's like Google Reader, but for photos."} slideshow,
        %span.site-name klekr
        makes it a lot easier to see the favorite photos of your favorite photographers.
      %p
        On top of this simple concept,
        %span.site-name klekr
        is developed with a number of unique features that make such photo discovery as easy as possible.

      .nav-div
        %a.learn-more{href: '#'}
          learn more >>

    #more.fleft.hidden
      .features-title
        %span.site-name klekr
        features that kill:

      #more-reasons-expand
        %ul
          %li
            Pictures in
            %span.page-name My Stream
            are prioritized based your own
            %span.hasTwipsy{:title => 'Such preference is determined by how often you fave photos from a source'} preferences
            over the sources they come from, so that everyday you can see more interesting photos first.
          %li
            See photos from multiple flickr groups in
            %span.hasTwipsy{:title => "Where you can also see photos uploaded and faved by your favorite photographers."} My Stream.
          %li
            Super fast and easy-to-use slideshow.
          %li
            %span.hasTwipsy{:title => 'Faving photos on klekr also fave them on flickr for you'} Faving
            photos with your own personal fave level so that you can rank within your faves.
          %li
            Easy to share your faves. For example, you can easily share all your 2 star faves you faved in the last month.
          %li
            Offline mode that allows users to prefetch thousands of photos and browse them without Internet connection.
          %li
            %span.site-name klekr
            is tablet friendly. The UI is designed to work smoothly on both tablets and traditional computers.

      .nav-div
        %a.back-to-about{href: '#'}
          << back
