#detail-info.hidden
  #left-column
    %h1.title
      So,
      %br
      why
      %br
      klekr?

  #right-column

    #about.fleft

      %p.main-paragraph
        %span.site-name klekr
        is about a simple mission:
        %span#mission
          help users discover photos articistally interesting to
          %span.taste their own taste.
      %p
        How?
        %span.site-name klekr
        works on a simple assumption: if you like the photos by a photographer, you may also like the photos she or he likes.
        Thus,
        %span.site-name klekr
        helps users by displaying new photos from their favorite artists's works
        %span.collection and collections
        in a single slideshow called
        %span.page-name My Stream.
      %p.google-reader
        It's like Google Reader, but for photos.

      %p
        On top of this simple concept,
        %span.site-name klekr
        is developed with a number of unique features that makes such photo discovering as easy as possible.
      .nav-div
        %a.learn-more{href: '#'}
          learn more >>

    #more.fleft.hidden
      .features-title
        %span.site-name klekr
        features that kill

      #more-reasons-expand
        %ul
          %li
            Pictures in
            %span.page-name My Stream
            are prioritized based your own pereferences over the sources they come from, so that everyday you can see more interesting photos first.
          %li
            Super fast and easy-to-use slideshow.
          %li
            Collecting photos with your own personal ratings.
          %li
            Be able to browse photos offline.
          %li
            Easy to share your discoveries with others.
          %li
            Tablet friendly.
            %span.site-name klekr
            is designed to be used on both desktops and tablets.
          %li
            Great support for keyboard operation.

      .nav-div
        %a.back-to-about{href: '#'}
          << back
