#user_stream{style: 'float:left'}
  %h3=link_to stream_name, stream_origin_url
  - if stream
    Collecting now
    |
    = render(partial: '/flickr_streams/stream_operations', locals: {stream: stream})
  - else
    %h4= link_to 'Start to Collect!', subscribe_user_path(id: @user.nsid, type: stream_type), method: :put
  %p
    - stream_pictures.each do |pic|
      .pic_small
        = picture_tag pic, :small