- content_for(:top_left) do
  %h2 Search User

.content{style: 'width:98%;'}
  %div{style: 'width:98%; text-align: center; margin-top: 200px'}
    %p{:id => "notice"}
      = notice

    = form_tag(search_users_path, method: :post) do |f|
      %h4
        Search by user id, username or Email
      = text_field_tag :keyword
      = submit_tag "Search!", class: 'btn primary'