.content{style: 'width:100%'}
  %h1=link_to @user.username, @user.photosurl
  =@user.realname
  %br
  %br
  #upload{style: 'float:left'}
    %h3=link_to 'uploads', @user.photosurl
    - if UploadStream.find_by_user_id(@user.nsid)
      subscribed
    - else
      = link_to 'subscribe!', subscribe_user_path(id: @user.nsid, type: 'upload'), method: :put
    %p
      - @pictures.each do |pic|
        = picture_tag pic, :small
  #faves{style: 'float:left'}
    %h3=link_to 'faves', @user.photosurl + "favorites"
    - if FaveStream.find_by_user_id(@user.nsid)
      subscribed
    - else
      = link_to 'subscribe!', subscribe_user_path(id: @user.nsid, type: 'fave'), method: :put
    %p
      - @faves.each do |pic|
        = picture_tag pic, :small