@import '../global/_mixins'

#faq
  #other-links
    @include text-shadow
    margin-top: 30px
    margin-left: 20px
    text-align: left
    font-family: helvetica
    text-transform: uppercase
    a
      color: #707070
      text-shadow: 0
      font-size: 18px
    a:hover
      color: #505050

  #left-column
    float: left
    width: 40%
    height: 630px
    text-align: right
    .title
      text-shadow: 0 1px 0 #222
      margin-left: 20px
      color: #393939
      font-size: 10em
      p
        line-height: 100%
        margin-bottom: 40px
      p:first-letter
        color: #606060
        font-size: 1.2em

  #right-column
    margin-top: 6px
    float: right
    width: 55%
    padding: 20px
    font-family: Georgia
    font-weight: normal
    line-height: 150%
    text-shadow: none
    color: #909090
    font-size: 1.2em
    .hasTwipsy
      color: #B5987F
    .item
      margin-bottom: 25px
      .question
        margin-bottom: 5px
        color: #BBB
        font-size: 1.3em
      .answer
        line-height: 180%

    #other-links
      text-align: right
      margin-left: 5px
      margin-bottom: -5px