@mixin unselectable
  -moz-user-select: -moz-none
  -khtml-user-select: none
  -webkit-user-select: none
  user-select: none

@mixin selectable
  -moz-user-select: -moz-auto
  -khtml-user-select: auto
  -webkit-user-select: auto
  user-select: auto