.container {
  width: 1024px;
  margin: 0 auto;
  zoom: 1;
  margin-bottom: 18px;
}
.container:before, .container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}


/*
 * Scaffolding
 * Basic and global styles for generating a grid system, structural layout, and page templates
 * ------------------------------------------------------------------------------------------- */
.row {
  zoom: 1;
  margin-bottom: 18px;
  margin-left: -20px;
}
.row:before, .row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.row .span1,
.row .span2,
.row .span3,
.row .span4,
.row .span5,
.row .span6,
.row .span7,
.row .span8,
.row .span9,
.row .span10,
.row .span11,
.row .span12,
.row .span13,
.row .span14,
.row .span15,
.row .span16 {
  display: inline;
  float: left;
  margin-left: 20px;
}
.row .span1 {
  width: 40px;
}
.row .span2 {
  width: 100px;
}
.row .span3 {
  width: 160px;
}
.row .span4 {
  width: 220px;
}
.row .span5 {
  width: 280px;
}
.row .span6 {
  width: 340px;
}
.row .span7 {
  width: 400px;
}
.row .span8 {
  width: 460px;
}
.row .span9 {
  width: 520px;
}
.row .span10 {
  width: 580px;
}
.row .span11 {
  width: 640px;
}
.row .span12 {
  width: 700px;
}
.row .span13 {
  width: 760px;
}
.row .span14 {
  width: 820px;
}
.row .span15 {
  width: 880px;
}
.row .span16 {
  width: 940px;
}
.row .offset1 {
  margin-left: 80px;
}
.row .offset2 {
  margin-left: 140px;
}
.row .offset3 {
  margin-left: 200px;
}
.row .offset4 {
  margin-left: 260px;
}
.row .offset5 {
  margin-left: 320px;
}
.row .offset6 {
  margin-left: 380px;
}
.row .offset7 {
  margin-left: 440px;
}
.row .offset8 {
  margin-left: 500px;
}
.row .offset9 {
  margin-left: 560px;
}
.row .offset10 {
  margin-left: 620px;
}
.row .offset11 {
  margin-left: 680px;
}
.row .offset12 {
  margin-left: 740px;
}

.well {
  background-color: #303030;
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}



.well .well-header {
  background-color: #202020;
  border-bottom: 1px solid #eee;
  padding: 5px 20px;
}

.well .well-body {
  padding: 20px;
}
.well .well-footer {
  padding: 14px 20px 15px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
  margin-bottom: 18px;
  margin-bottom: 0;
}

.row .cell {
  display: inline;
  float: left;
}