#keyShortcuts
  color: #909090
  ul
    list-style-type: none
    -webkit-padding-start: 15px

  li
    .key-name
      font-weight: bold
      color: #DDDDDD
      font-size: 17px
    .key-desc
      margin-left: 10px
