@import 'shadow'

#user-dropdown
  @include shadow
  background-color: #303030
  position: absolute
  right: 388px
  top: 32px
  width: 265px
  z-index: 5000
  opacity: 0.95
  #user-icon
    margin-right: 5px
  .inner
    padding: 15px
  #upper
    padding-bottom: 5px
    line-height: 140%
  #username
    margin-left: 0px
    margin-top: 0px
    margin-bottom: 7px
  #bottom
    margin-top: 5px
    border-top: 1px solid #505050


#top-banner
  display: table
  width: 100%
  padding-top: 3px
  padding-right: 5px
  padding-left: 5px

  .section
    display: table-cell
    vertical-align: top
    width: auto

  #top-banner-middle
    text-align: left

    margin-left: auto
    margin-right: auto

  #top-banner-right
    margin-top: 5px
    margin-left: 0px

  #top-banner-welcome
    margin-right: 10px
    margin-top: 10px

  .navigation-link
    border-left:  1px solid #333
    padding: 5px 7px
    border-bottom:  1px solid #333
    &:hover
      background-color: #333
    &.current
      background-color: #333