#top-banner-left
  .source-icon-placeholder
    margin-right: 5px

#empty-gallery-message
  margin-top: 200px
.gridPicture
  float: left
  display: none
  cursor: pointer
  width: 259px
  height: 269px
  text-align: center
  border-right: 1px solid #303030
  border-bottom: 1px solid #303030

#bottomLeft
  text-align: left
  position: absolute
  left: 0px
  margin-left: 10px

#bottomRight
  text-align: right
  position: absolute
  right: 0px
  width: 250px
  margin-right: 20px

.pic_small 
  margin: 10px
  vertical-align: middle
  text-align: center
  float: left
  width: 244px
  height: 244px
  line-height: 244px

#bottomBanner 
  width: 100%
  text-align: center
  position: absolute
  left: 0px

#gridview
  width: 100%

#rating_filter
  width: 100px
  height: 23px

.sideNav
  width: 50px
  vertical-align: middle
  cursor: pointer

#slide
  #imageFrameInner
    margin-left: auto
    margin-right: auto
    #imageCaption
      text-align: center
