#top-banner-left
  .source-icon-placeholder
    margin-right: 5px

#mode-indicator
  cursor: pointer

  #indicator-frm
    margin-right: 10px
    margin-top: 2px
    width: 51px
    margin-bottom: 0px
    padding: 2px
    padding-bottom: 1px
    background: #141414

    #slide-mode-icon
      background: #353535
      width: 20px
      height: 20px
      margin-top: 2px
      margin-left: 3px
    #grid-mode-icon
      width: 24px
      height: 24px
      margin-top: 0px
      margin-left: 4px
      .grid-mode-square
        background: #353535
        width: 9px
        height: 9px
        margin-top: 2px
        margin-left: 2px

    #indicator
      position: relative
      border-radius: 3px
      border: 1px solid #353535
      top: -1px
      left: 0px
      width: 24px
      height: 24px


#empty-gallery-message
  margin-top: 150px

#gridview

  #grid-loading
    margin-left: auto
    margin-right: auto
    text-align: center

  #gridPictures
    margin-left: auto
    margin-right: auto
    .grid-picture
      float: left
      display: none
      cursor: pointer
      width: 259px
      height: 269px
      text-align: center
      border-right: 1px solid #303030
      border-bottom: 1px solid #303030
      &.top
        border-top: 1px solid #303030
      &.left
        border-left: 1px solid #303030

      .pic-cell-bottom
        position: relative
        top: -7px
        #ratingInGrid
          float: left
          padding-left: 5px
          color: #353535
          font-size: 11px
          padding-top: 2px
        #loading-indicator
          float: right
          padding-right: 5px
    .highlighted
      background: #454545
      .pic-cell-bottom
        #ratingInGrid
          color: #141414

#bottomLeft
  text-align: left
  position: absolute
  left: 0px
  margin-left: 10px
  width: 120px
  height: 30px
#bottomRight
  text-align: right
  position: absolute
  right: 0px
  width: 250px

  #bottom-right-pic-info
    margin-right: 10px
    #interestingessPanel
      padding-top: 3px
.pic_small 
  margin: 10px
  vertical-align: middle
  text-align: center
  float: left
  width: 244px
  height: 244px
  line-height: 244px

#bottomBanner 
  width: 100%
  text-align: center
  position: absolute
  left: 0px
  .copyrights
    font-size: 12px

#gridview
  width: 100%

#rating_filter
  width: 100px
  height: 23px

.side-nav
  display: none
  width: 50px
  vertical-align: middle
  cursor: pointer
  position: absolute
  top: 60px
  &.right
    right: 0px
  &.left
    left: 0px
  .arrow
    display: none
  .arrow:hover
    color: #404040

#slide
  #pictureArea
    position: absolute
    top: 60px
    left: 0px
    width: 100%
    margin-left: auto
    margin-right: auto

    #imageFrameInner
      margin-left: auto
      margin-right: auto
      #imageCaption
        text-align: center

#collectingStreamOperations
  #rating-display
    font-size: 18px
    vertical-align: middle
    line-height: 26px
    margin-right: 5px

  #rating-adjustment
    margin-right: 10px
    .rating-adjustment-link
      font-size: 12px
      display: block
    a:hover
      text-decoration: none
      color: #6A2E1F
