#sources
  margin-top: 50px

  #sources-list
    .star-category
      margin-top: 30px
      .stars-label
        text-align: center
        font-size: 2em
        color: #202020
        text-shadow: 0 1px 0 #101010

      .sources-grid
        margin-top: 10px
        .source-cell
          text-align: center
          margin-left: 14px
          padding-top: 10px
          padding-bottom: 5px
          width: 111px
          height: 110px
          .source-name
            color: #7f7f7f
          .source-type
          .source-icon-placeholder
            margin-bottom: 5px

  #sources-management
    margin-top: 30px
    text-align: center

    #sources-import-panel
      padding-top: 20px
      height: 100px