#sources
  margin-top: 50px
  .star-category
    margin-top: 30px
    .stars-label
      text-align: center
      font-size: 2em
      color: #202020
      text-shadow: 0 1px 0 #101010

    .sources-grid
      margin-top: 10px
      .source-cell
        text-align: center
        margin-left: 14px
        padding-top: 10px
        padding-bottom: 5px
        width: 110px
        height: 110px
        .source-icon
          border-radius: 3px
        .source-name
          color: #7f7f7f
        .source-type
        .source-icon-placeholder
          height: 48px
          margin-bottom: 5px
