:javascript
  __contactsPath__ = '#{contacts_users_path}';
  __importContactPath__ = '#{flickr_streams_path}'

#import-popup.modal-popup
  #loading-contacts
    Loading contacts from flickr
    = image_tag '/assets/loading.gif'
  #display-contacts.hidden
    %h4
      You have
      %span#num-of-contacts
      contacts on flickr:
    #contacts-list.well.mt20

    .fright
      %h3
        %a#do-import-contacts.btn.large.primary{href: '#'}
          Yes! Add them!

  #import-progress.hidden
    %h4 Adding contacts and some of their pictures
    #progress-bar.progress-bar