#import-editor-streams-popup.modal-popup
  .fright
    %a.close-btn{href: "#"} ×
  #loading-streams.clearfix
    Loading klekr recommended sources
    = image_tag '/assets/loading.gif'
  #display-streams.hidden
    %h4
      klekr recommended sources
    #streams-list.row.well.mt20
      = render partial: 'streams_grid'

    .fright.tright
      %h3
        %a#do-import-streams.btn.large.primary{href: '#'}
          Yes! Add Them All!
      %span#add-individually-note
        Or, hover mouse on icons to add individually.
  #import-streams-progress.hidden
    %h4 Adding klekr recommended sources and some of their pictures
    #streams-progress-bar.progress-bar