#import-google-reader-popup.modal-popup
  #import-file
    %h3 Import from my google reader subscriptions.
    %input#google-reader-file.mt20{type: 'file'}
    %h4.inline
      %a#do-import{href: '#'}
        Import!

  #import-progress.hidden
    %h4 Adding google reader subscriptions and some of their pictures
    #progress-bar.progress-bar