#new-sources-added.well.hidden
  %h3
    Awesom! Now I have
    %span#num-of-sources
    sources and
    %span#num-of-pictures
    = link_to 'new pictures', slideshow_path
  %h4
    Go to the
    = link_to 'New Pictures', slideshow_path
    page to check them out.
