#new-sources-added.well.hidden
  %h3
    You are awesome! Now you have
    %span#num-of-sources
    sources.
  %h4
    Go to the
    = link_to 'My Stream', slideshow_path, class: 'has-popover', 'data-content' => 'New pictures from all sources are congregated to display here.', title: 'About the My Stream page' , 'data-popover' => 'above'
    page to check out the pictures from them.
