.sources-grid
  .hidden
    .source-cell.cell
      %a.source-icon-link{target: '_blank'}
        .source-icon-placeholder

          %img.source-icon.shadow
        .source-name.text-shadow
        .source-type.text-shadow