.sources-grid
  .source-cell.cell.hidden
    .source-icon-placeholder
      %a.source-icon-link{target: '_blank'}
        %img.source-icon.shadow
    .source-name.text-shadow
    .source-type.text-shadow